$high-band-color: rgb(17, 166, 0);
$mid-band-color: rgb(232, 183, 12);
$low-band-color: rgb(191, 0, 22);

// .entity__table__panel {
//     background-color: #fff;
//     padding: 1rem;
//     border: 1px solid #e3e4e4;
//     box-shadow: 0 1px 3px 0 rgba(203, 226, 226, 0.34);

//     .score {
//         font-weight: 600;
//     }
// }

.score {
    font-weight: 600;
}

.tags__title {
  font-size: .75rem;
  font-weight: 600;
  text-transform: capitalize;
}

.tags__list {
  display: flex;
  // flex-wrap: wrap;
}

.tag_nowrap_table_cell {
  div {
    text-overflow: clip;
  }
}

.tags__tag {
  border: 1px solid #e3e4e4;
  box-shadow: 0 1px 3px 0 rgba(203, 226, 226, 0.34);
  font-size: .75rem;
  padding: .15rem .25rem;
  margin-left: .25rem;
  margin-bottom: .25rem;
  display: inline-flex;
  // display: block;
  align-items: center;
  label {
    margin-left: 4px;
  }
}

.tags__tag__status {
  font-weight: 800;
  font-size: .75rem;
  padding-right: .3rem;
}

.low__band {
    color: $low-band-color;
    background-color: rgba(191, 0, 22, 0.05);
  }
  
  .mid__band {
    color: $mid-band-color;
    background-color: rgba(241, 206, 80, 0.06);
  }
  
  .high__band {
    color: $high-band-color;
    background-color: rgba(17, 166, 0, 0.05);
  }

.tag__value__blank__row__required {
  color: $low-band-color;
  font-weight: 900;
}

.tag__value__blank__row__optional {
  color: $mid-band-color;
  font-weight: 900;
}

.tag__value__blank__row__non-policy {
  color: black;
  font-weight: 900;
}

.tag__value__normal__row {
  color: initial;
}

.tag__analyzer__selected__row {
  background-color: #e0ece0;
}

.tag__analyzer__normal__row {
  text-decoration-color: initial;
}